{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}

{% block title %} DOCTORS SEARCH {% endblock %}

{% block content %}

<div class="row">
                <form method="get">
                    {{ filter.form|crispy }}
                    <button class="btn btn-sm btn-danger" type="submit">Submit</button>
                </form>
            </div>

  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">State</th>
        <th scope="col">Appointment</th>

    </tr>
  </thead>
  <tbody>
  {% for record in filter.qs %}
    <tr>
      <th scope="row">{{ record.user.first_name }} {{ record.user.last_name }}</th>
      <td>{{ record.state }}</td>
        <td><a href="{% url 'patients:Appointment-Create' record.id %}"> Book Appointment </a></td>

    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
