{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}


{% block title %} BOOK AN APPOINTMENT {% endblock %}

{% block content %}
  <h1>Make an Appointment</h1>

<div class="row">
                  <form action="" method="post" class="form-inline">
                      <div class="form-group row">
                            {% csrf_token %}
                               <div class="form-group mx-sm-3 mb-2">
                                    {{ form|crispy }}
                                </div>
                                <div class="row">
                                    <button class="btn btn-primary mb-2" type="submit">Book Appointment</button>
                                </div>
                      </div>
                </form>
</div>

{% endblock %}
