{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}

{% block title %} Doctor List {% endblock %}

{% block content %}

<div class="row">
                <form method="get">
                    {{ filter.form|crispy }}
                    <button class="btn btn-sm btn-danger" type="submit">Submit</button>
                </form>
            </div>

  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Appointment</th>


    </tr>
  </thead>
  <tbody>
  {% for object in object_list %}
    <tr>
      <td scope="row"> {{ object.first_name }} {{ object.last_name }} </td>
      <td><a href="{% url 'patients:Appointment-Create' object.id %}"> Book Appointment </a></td>


    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}